
// VARIABLES
$footer-font: 'Kalam', cursive;
$body-font: 'Courgette', cursive;
$light-text: white;
$dark-text: #666;
$body-size: calc-rem(18);
$body-smallsize: calc-rem(12);
$header-text-color: white;
$h1-fontsize: calc-rem(70);
$h1-large-fontsize: calc-rem(40);
$h1-medium-fontsize: calc-rem(30);
$h1-smaller-fontsize: calc-rem(22);
$nav-fontsize: calc-rem(18);
// $navtext-color: #4677c3;
$links-color: darkgrey;
$logo-blue-color: #290B49;
$header-background: #fff;
$footer-background: #777;
$box-medium-background: rgba(250, 250, 250, 0.5);
$box-accent-background: rgba(0, 0, 50, 0.8);
